.slider {
    @include flex(column, center, unset, unset);
    @include prop(relative, 100vw, unset);
    min-height: 450px;
    background-color: rgb(122, 122, 122);
    background-image: url('@/assets/imagem3.jpg');
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    background-blend-mode: multiply;
    opacity: 1;

    h1,
    h2,
    a {
        margin: 0px 150px;
    }

    h1 {
        @include font($first-color, 30px, 900, $third-font);
        @include text(unset, 0.5px 1px 2px rgb(68, 68, 68), unset, unset);
    }

    h2 {
        @include font(white, 26px, 500, $second-font);
    }

    a {
        @include prop(relative, 150px, auto);
        @include font(white, 18px, 400, $third-font);
        @include text(unset, unset, unset, center);
        letter-spacing: 0.8px;
        margin-top: 20px;
        padding: 5px 0px;
        border: solid 1px white;

        &:hover {
            border: solid 1px $first-color;
            color: $first-color;
            transition: 0.5s;
        }
    }
}

@include media-screen(575px) {
    .slider {
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 20px !important;

        * {
            margin: 0 auto !important;
        }

        h1 {
            font-size: 25px;
        }

        h2 {
            font-size: 20px;
        }
    }
}