.slider {
    @include flex(row, space-evenly, unset, 20px);
    @include prop(relative, auto, auto);
    margin: 50px 150px;
    padding: 1px 1px;
    overflow: hidden;

    .item {
        @include flex(column, unset, unset, unset);
        @include prop(relative, 300px, auto);
        box-shadow: 0.2px 0.2px 3px rgba(158, 158, 158, 0.541);
        flex: 0 0 calc(25% - 15px);

        &:hover a,
        &:hover svg {
            opacity: 1;
            margin: 0;
            transition: .5s;
        }

        &:hover .img {
            background-color: rgba(0, 0, 0, 0.534);
            background-blend-mode: darken;
            transition: .5s;
        }
    }
}

.img {
    @include flex(column, center, center, 5px);
    @include prop(relative, 100%, 130px);
    background-image: url('../../assets/imagem3.jpg');
    background-position: center center;
    background-size: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: solid 1px rgba(124, 124, 124, 0.363);
    clip-path: polygon(0 0, 100% 0%, 100% 80%, 0% 100%);

    >a,
    >svg {
        @include font(white, 16px, 400, unset);
        fill: white;
        opacity: 0;
        margin: 0px 0px -20px 0px;
        cursor: pointer;
    }

    a {
        border: solid 1.5px $first-color;
        padding: 8px;
        border-radius: 2px;
    }
}

.desc {
    @include flex(column, unset, unset, 10px);
    @include prop(relative, auto, 100px);
    margin: 10px 15px 15px 15px;

    h3 {
        @include font($second-color, 16px, 600, $third-font);
        @include text(uppercase, unset, unset, center);
    }

    p {
        @include font(unset, 15px, 400, $first-font);
        letter-spacing: 0.5px;
        text-align: justify;
    }
}