#portfolio .column {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
}

.item {
    @include flex(column, unset, unset, unset);
    @include prop(relative, 100%, auto);
    box-shadow: 0.2px 0.2px 3px rgba(158, 158, 158, 0.541);

    .img {
        @include flex(column, center, center, 5px);
        @include prop(relative, 100%, 130px);
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom: solid 1px rgba(124, 124, 124, 0.363);

        >img {
            position: absolute;
            height: 100%;
            width: 100%;
            object-fit: cover;
            z-index: 1;
        }

        >a,
        >svg {
            display: inline;
            @include font(white, 16px, 400, unset);
            width: auto;
            fill: #ffffff;
            opacity: 0;
            margin: 0px 0px -20px 0px;
            cursor: pointer;
            z-index: 2;
        }

        >:nth-child(2) {
            border: solid 1.5px $first-color;
            padding: 8px;
            border-radius: 2px;
        }
    }

    &:hover img {
        filter: brightness(50%);
    }

    &:hover a,
    &:hover svg {
        opacity: 1;
        margin: 0;
        transition: .5s;
    }

    .desc {
        @include flex(column, unset, unset, 10px);
        @include prop(relative, auto, 100px);
        margin: 10px 15px 0px 15px;

        h3 {
            @include font($second-color, 16px, 600, $third-font);
            @include text(uppercase, unset, unset, unset);
        }

        p {
            @include font(unset, 14px, 400, $first-font);
            letter-spacing: 0.5px;
            text-align: justify;
        }
    }

    .tags {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        margin: 0px 0px 15px 15px;

        span {
            width: auto;
            padding: 2px 3px;
            background-color: rgba(187, 129, 3, 0.74);
            @include font(white, 14px, 500, unset);
            border-radius: 2px;
        }
    }
}

@include media-screen(575px) {
    #portfolio {
        .column {
            grid-template-columns: 100% !important;
        }
    }
}

@include media-screen(768px) {
    #portfolio {
        .column {
            grid-template-columns: 50% 50%;
        }
    }
}