@include media-screen(575px) {
    .section {
        flex-direction: column !important;
        margin: 0px calc(10%);

        .column {
            width: 100%;
            align-items: center;
            justify-content: center;

            * {
                width: 100%;
            }
        }
    }
}